
body{
  position: relative;
  height: 100vh;
  background-color: #191919;
}

#signup
{
  background-color:white;
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  bottom: 0;
  top:0;
  width: 500px;
  height: 500px;
  max-height: 1000px;
  padding: 10px;
}

#signup > h1 {
  text-align: center;
  font-size: 40px;
}

#signup__form{
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 432px; 
}
* #signup__form{
  font-size: 20px;
}

[id$= "Field"]{
  padding: 10px;
  padding-left: 40px;
  margin: 5px;
  
}

[id$= "Field"] > span{
  font-size: 12px;
}

input{
  border-radius: 10px;
  outline:none;
  border: 2px solid #333;
  height: 25px;
  padding-left: 10px;
}
.signup__submit{
  height: 50px;
  position: relative;
  margin-bottom: 2px;
}

#signup__button:hover{
  background-color: #b54;
  color:antiquewhite;
}

.signup__submit > input{
  padding:5px;
  text-align: center;
  height: 40px;
  width: 100px;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}

h3{
  margin-top: 10px;
  height: 50px;
}


#return__button{
  border: 2px solid #333;
  padding: 10px;
  text-decoration: none;
  color:#333;
  border-radius:  5px;
  margin: 5px;
  margin-top:10px;
}

#return__button:hover{
  background-color: #b54;
} 

#signup__roleField{
margin-top:0px;
padding-top:0px;
}

#admin{
height: 20px;
width: 20px;
}
table{
padding: 10px;
margin: 5px;
width:100%;
}

th, td{
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
text-align:center;
border-radius:10px;
padding: 10px;
margin: 10px;
color: #666;
background-color: #eee;
}

th{
width: 20%;
color: #b54;
text-align:center;
}

#content{
width:100%;
}
#signup__usernameField{
  width:260px;
}

#signup__ageField{
  width: 50px;
}
#signup__genderField{
  margin-bottom: 5px;
}

#signup__result{
  text-align:center;
  font-size:30px;
  margin-bottom: 20px;
}