
.c-project-card {
  background-color: white;
  border: solid 1px #c2c2c2;
  border-radius: 7px;
  height: 200px;
  //cursor: pointer;
  box-shadow: 2px 2px #e3e3e3;

  .c-project-card__name{
  }
}

.c-project-card:hover {
  background-color: #f8f8f8;
}