body{
  height: 100vh;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B9A280;
  width: 100vw;
  
}

#chessboard__board{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  border: 3px solid #252927;
  margin:0;
}

.square:focus{
  border: 4px solid #B45927  ;
}
