*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  position: relative;
  height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* #form
  {
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    width: 500px;
    height: auto;
    padding: 10px;
} */

.title{
  text-align:center;
}


input{
  border-radius: 10px;
  outline:none;
  border: 2px solid #333;
  height: 25px;
  padding-left: 10px;
}
#download{
  height: 50px;
  position: relative;
  margin-bottom: 2px;
}

#download__button:hover{
  background-color: #333;
  color:antiquewhite;
  cursor: pointer;
}

#download > input{
  padding:5px;
  text-align: center;
  height: 40px;
  width: 200px;
  /* position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto; */
}
