$appMainColor: #1c2436;
$appSecondaryColor: #f5f5f5;
$appButtonColor: #5a8def;
.l-app {
  text-align: center;
}

.c-app__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .c-app__logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.c-home-nav {
  cursor: pointer;
}

.l-app__header {
  background-color: $appMainColor;
  height: 100px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 25px;
}

$sidebarWidth: 250px;

.c-app__link {
  color: #61dafb;
}





.l-sidenav {
  height: 100%;
  width: $sidebarWidth;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: #eceaea solid 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  hr {
    margin: 0 10px;
  }

  &__link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    cursor: pointer;
    margin: 5px;
  }

  &__link:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}


.l-main {
  margin-left: $sidebarWidth; /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 160px;
}

.l-center-main {
  margin-top: 240px;
}

p, span, strong {
  font-size: 20px;
}



.c-table {
  &__row{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 12px 0;
    margin-top: 10px;
  }

  &__row:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  &__header {
    background: $appSecondaryColor;

    padding: 10px 0;
  }
}

.c-project-card {
  background-color: $appSecondaryColor;
  color: black;
  height: 200px;
  margin: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  .c-project-card__button {
    cursor: pointer;
  }
}

.c-project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.c-button {
  background: $appButtonColor;
  color:white;
}

.c-user-badge{
  background: $appButtonColor;
}
