*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  position: relative;
  height: 100vh;
  background-color: white;

}

#login
{
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  bottom: 0;
  top:0;
  width: 500px;
  height: auto;
  padding: 10px;
}

#login > h1 {
  text-align: center;
  font-size: 40px;
}

* #login__form{
  font-size: 20px
}

[id$= "Field"]{
  padding: 10px;
  padding-left: 40px;
  margin: 10px;
  
}

[id$= "Field"] > span{
  font-size: 12px;
}

input{
  border-radius: 10px;
  outline:none;
  border: 2px solid #333;
  height: 25px;
  padding-left: 10px;
}
.login__submit{
  height: 50px;
  position: relative;
  margin-bottom: 2px;
}

#login__button:hover{
  background-color: #333;
  color:antiquewhite;
}

.login__submit > input{
  padding:5px;
  text-align: center;
  height: 40px;
  width: 100px;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
}

#remember__button{
height:20px;
width:20px;
}

.login__remember{
margin-left: 50px;
margin-bottom: 20px;
font-size:20px;
} 

.signup{
  font-size:20px;
}