body {
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-color: khaki;
}
.header {
  width: 60%;
  margin: 0 auto;
}
.header h1{
  color: indianred;
  text-align: center;
}
.header p {
  color: red;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.chessboard {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-left: -25px;
  align-items: center;
}
.square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black {
  outline: 1px solid black;
  background: #37797d;
}
.white {
  outline: 1px solid black;
  background: white;
}
.row {
  display: flex;
  justify-content: center;
}
.square.black:hover {
  background: red;
  transition: 0.5s;
}
.square.white:hover {
  background: red;
  transition: 0.5s;
}
.square.black.recommend {
  background: yellow;
}
.square.white.recommend {
  background: yellow;
}
.square.black.chosen {
  background: red;
  opacity: 0.7;
}
.square.white.chosen {
  background: red;
  opacity: 0.7;
}
.square.black.kill {
  background: hotpink;
}
.square.white.kill {
  background: hotpink;
}
.no-click {
  pointer-events: none;
}
